
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.input-icon{
    position: relative;
    width: 16%;
    margin: auto;
  }
  
  .icon {
    position: relative;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    cursor: pointer;
  }
.footer{
  width: 13%;
  margin: auto;
}